<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="4">

      </ion-col>
      <ion-col size="4">
        <ion-title>Crear candidato</ion-title>

      </ion-col>
      <img src="assets/images/icono.png" class="img_title" height="50px"/>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  (ngSubmit)="crearCandidato(form)" >
    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size="12" size-xs="12">
        <ion-list>
          <ion-item class="item-input" color="light">
            <ion-input name="nombreCandidato" #nombreCandidato="ngModel" [(ngModel)]="nombre" placeholder="Nombre del candidato"></ion-input>
          </ion-item>
          <ion-item class="item-input" color="light">
            <ion-input name="descripcion" #descripcion="ngModel" [(ngModel)]="descrip" placeholder="Ingrese una descripción"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button shape="round"  (click)="crearCandidato()" style="font-size: large; font-weight: bold;" expand="block">
              <ion-icon name="body-outline"></ion-icon>Enviar
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
