<app-header [pageName]="pageName"></app-header>

<ion-content>
  <form  (ngSubmit)="crearCandidato(form)" >
    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size="12" size-xs="12">
        <ion-list>
          <ion-item class="item-input" color="light">
            <ion-input name="nombreInstitucion" #NombreInstitucion="ngModel" [(ngModel)]="nombre" placeholder="Nombre de la institucion"></ion-input>
          </ion-item>
          <ion-item class="item-input" color="light">
            <ion-input name="NIT_FRONT" #NIT_FRONT="ngModel" [(ngModel)]="NIT" placeholder="Ingrese el NIT de la institución"></ion-input>
          </ion-item>
          <ion-item class="item-input" color="light">
            <ion-input name="sitioweb_FRONT" #sitioweb_FRONT="ngModel" [(ngModel)]="sitio_web" placeholder="Ingrese el sitio web de la institucion"></ion-input>
          </ion-item>
          <ion-item class="item-input" color="light">
            <ion-input name="notas_front" #notas_front="ngModel" [(ngModel)]="notas" placeholder="Ingrese notas adionales"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button shape="round"  (click)="crearEntity()" style="font-size: large; font-weight: bold;" expand="block">
              <ion-icon name="business-outline"></ion-icon> Crear
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
