<ion-content>
  <ion-grid fixed>
    <ion-row style="height: 100%;" class="ion-align-items-center">
      <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
        <section class="full-width fixed-section">
          <ion-item color="none" lines="none">
            <ion-label style="font-size: 24px;" class="ion-text-wrap ion-text-center">
                <strong>Bienvenido al futuro de la democracia</strong>
                <br>
                <div class="crop-image">
                    <img src= "assets/images/LogoBlockID.png">
                </div>
            </ion-label>
          </ion-item>
        </section>
      </ion-col>
    </ion-row>   
    
    <ion-row style="height: 100%;" class="ion-align-items-center">
      <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
          <section class="full-width fixed-section">
              <ion-item color="none" lines="none">
                  <ion-label class="ion-text-wrap ion-text-center">
                      Por favor ingresa tu nombre de usuario y contraseña para iniciar sesión
                  </ion-label>
              </ion-item>
          </section>
      </ion-col>
  </ion-row>


  <form #form="ngForm" (ngSubmit)="autenticarUsuario(form)" method="post">
    <ion-row>
        <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
        <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
            <section class="full-width fixed-section">
                <ion-item color="none" lines="none">
                    <ion-input required name="username" class="ion-text-center" [(ngModel)]="username" placeholder="Usuario"></ion-input>
                </ion-item>
            </section>
        </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
        <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
        <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
            <section class="full-width fixed-section">
                <ion-item color="none" lines="none">
                    <ion-input type="password" name="password" [(ngModel)]="password" class="ion-text-center" placeholder="Contraseña"></ion-input>
                </ion-item>
            </section>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
        <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
            <section class="full-width fixed-section">
                <ion-button shape="round" mode="ios" disabled="{{ this.username.length == 0 || this.password.length == 0 }}" type="submit" color="primary" style="font-size: large; font-weight: bold;" expand="block">
                    Ingresar
                </ion-button>
            </section>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
        <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
            <ion-button (click)="registro()" fill="outline" color="main-button" shape="round" mode="ios" expand="full">
                ¿Aún no tienes tu cuenta?
            </ion-button>
        </ion-col>
    </ion-row>
  </form>



  </ion-grid>
</ion-content>
