<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil del ciudadano
    </ion-title>
    <ion-item slot="end">
      <img src="assets/images/icono.png" height="35px"/>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-billetera tengoLlaves={{tengoLlaves}}></app-billetera>
  <app-nueva-identidad></app-nueva-identidad>
  <ion-row>
    <ion-col size-sm ="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Configuración
          </ion-card-title>
            <ion-icon name="flask-outline"></ion-icon> 
            <ion-label> Zona de experimentación, próximamente más funciones</ion-label>
          <ion-card-subtitle>

          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="ion-activated" color="success" button (click)="changepass()">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-label>Cambiar Contraseña</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-content>
