<app-header [pageName]="pageName"></app-header>

<ion-content>
  <form  #electionForm="ngForm" (ngSubmit)="createElection(form)" >
    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size="12" size-xs="12">
        <ion-list>
          <ion-item class="item-input" color="light">
            <ion-input id="nombreEleccion" name="nombreEleccion" 
                        #electionName="ngModel" [(ngModel)]="nombre"
                        
                        required minlength="3" 

                        placeholder="Nombre de la elección">
                <div *ngIf="electionName.invalid && (electionName.dirty || electionName.touched)"
                    class="alert alert-danger">
                  <div *ngIf="electionName.errors.required">
                    El nombre de la elección es obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div *ngIf="electionName.errors.minlength">
                    El nombre de la elección debe ser superior a 3 caracteres&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
            </ion-input>
          </ion-item>

          <ion-select  name="selectAsset" #selectAsset="ngModel"  placeholder="Seleccione una institución" [(ngModel)]="assetType" interface="action-sheet">
            <ion-select-option *ngFor="let item of entidades" [value]="item.nombre"> 
              <ion-label> {{item.nombre}}</ion-label>
            </ion-select-option>
          </ion-select>

          <ion-item class="item-input" color="light">
            <ion-input  name="NIT_FRONT" #NIT_FRONT="ngModel" 
                        [(ngModel)]="NIT" 
                        placeholder="Ingrese el NIT de la institución"
                        required minlength="7" 
                        pattern  ="\d*-\d">
              <div *ngIf="NIT_FRONT.invalid && (NIT_FRONT.dirty || NIT_FRONT.touched)"
              class="alert alert-danger">
                  <div *ngIf="NIT_FRONT.errors.required">
                    El NIT de la institución es obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div *ngIf="NIT_FRONT.errors.pattern">
                    El NIT debe ser de la forma 0000000000-1 &nbsp; &nbsp; &nbsp;
                  </div>  
              </div>
            </ion-input>
          </ion-item>
          <ion-item class="item-input" color="light">
            <ion-input name="sitioweb_FRONT" #sitioweb_FRONT="ngModel" [(ngModel)]="sitio_web" placeholder="Ingrese el sitio web de la intitución"></ion-input>
          </ion-item>
          <ion-item class="item-input" color="light">
            <ion-input type="email" name="email_FRONT" 
                      #email_FRONT="ngModel" 
                      [(ngModel)]="email" 
                      placeholder="Ingrese el email de la institución" 
                      pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      required>
              <div *ngIf="email_FRONT.invalid && (email_FRONT.dirty || email_FRONT.touched)" class="alert alert-danger">
                <div *ngIf="email_FRONT.errors.required">
                  El email es obligatorio &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div *ngIf="email_FRONT.errors.pattern">
                    Ingrese un email válido&nbsp;&nbsp;&nbsp;&nbsp;
                </div>  
              </div>
            </ion-input>
          </ion-item>
          <ion-item class="item-input" color="light">
            <ion-input name="notas_front" #notas_front="ngModel" [(ngModel)]="notas" placeholder="Ingrese notas adionales"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button shape="round"  (click)="crearEntity()" style="font-size: large; font-weight: bold;" expand="block" [disabled]="electionForm.invalid">              
              <ion-icon name="business-outline"></ion-icon> Crear
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>