<app-header [pageName]="'Cambiar Contraseña'"></app-header>

<ion-content [fullscreen]="true">
    <ion-grid fixed>
        <ion-row style="height: 100%;" class="ion-align-items-center">
          <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
          <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
            <section class="full-width fixed-section">
              <ion-item color="none" lines="none">
                <ion-label style="font-size: 18px;" class="ion-text-wrap ion-text-center">
                    <strong>Cambiar Contraseña</strong>
                </ion-label>
              </ion-item>
            </section>
          </ion-col>
        </ion-row> 
        
        <form #form="ngForm" (ngSubmit)="cambialo(form)" method="post">
            <ion-row class="ion-align-items-center">
                <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
                <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
                    <section class="full-width fixed-section">
                        <ion-item color="none" lines="none">
                            <ion-input type="password" name="password" [(ngModel)]="data.password" class="ion-text-center" placeholder="Contraseña"></ion-input>
                        </ion-item>
                    </section>
                </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
                <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
                <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
                    <section class="full-width fixed-section">
                        <ion-item color="none" lines="none">
                            <ion-input type="password" name="verifypass" [(ngModel)]="data.verifypass" class="ion-text-center" placeholder="Repetir contraseña"></ion-input>
                        </ion-item>
                    </section>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col size-lg="4" size-md="3" size-sm="3" size="0" size-xs="0"></ion-col>
                <ion-col size-lg="4" size-md="6" size-sm="6" size="12" size-xs="12">
                    <section class="full-width fixed-section">
        
                        <ion-button shape="round" mode="ios" disabled="{{ data.password !== data.verifypass }}" type="submit" color="primary" style="font-size: large; font-weight: bold;" expand="block">
                            Cambiar
                        </ion-button>
                    </section>
                </ion-col>
            </ion-row>
          
          </form>
          </ion-grid>
</ion-content>
